.common-form {
  max-width: 600px;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #777;
  border-radius: 5px;

  &__title {
    text-transform: uppercase;
  }

  &__button-submit {
    margin: 15px;
    padding: 10px;
    background-color: #DDD;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7
    }
  }

  &__error-message {
    min-height: 20px;
    color:cadetblue;
    text-transform: uppercase;
  }
}
